<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../statics/css/style.css" />
    <title>Capture the Flag</title>
  </head>
  <header>
    <div class="stamina_container">
      <div class="stamina_bar" id="stamina_bar"></div>
    </div>
  </header>
  <body>
    <h1>Capture the Flag</h1>
    <p>Statut : <span id="status">Déconnecté</span></p>
    <div id="game-board"></div>
    <script src="../statics/js/main.js"></script>
  </body>
</html>
