#game-board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 1px;

  width: max-content;
  height: max-content;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}
.cell.player {
  background-color: red; /* ou une autre couleur visible */
  color: white;
  font-weight: bold;
}

.cell.flag {
  background-color: dodgerblue;
}

.stamina_container {
  width: 200px;
  height: 20px;
  background-color: #ddd;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
}

.stamina_bar {
  height: 100%;
  width: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-out;
  color: transparent;
}

.stamina_bar.low {
  background-color: #ff9800;
}

.stamina_bar.critical {
  background-color: #f44336;
}
