:root {
  --BLUE--: #5168d0;
  --RED--: #f44336;
  --BODY--: white;
  --FONT-COLOR--: white;
  --GREEN--: #6dd475;
}

.body {
  background-color: var(--BODY--);
}

#game-board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 1px;

  width: max-content;
  height: max-content;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}

.cell.blue_goal {
  background-color: #ab342b;
}
.cell.red_goal {
  background-color: #37478e;
}

.cell.even_player {
  background-color: red; /* ou une autre couleur visible */
  color: var(--FONT-COLOR--);
  font-weight: bold;
}
.cell.odd_player {
  background-color: #5168d0; /* ou une autre couleur visible */
  color: var(--FONT-COLOR--);
  font-weight: bold;
}

.cell.player-has-flag {
  background-color: var(--GREEN--);
}

.cell.flag {
  background-color: var(--GREEN--);
}

.stamina_container {
  width: 200px;
  height: 20px;
  background-color: #ddd;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
}

.stamina_bar {
  height: 100%;
  width: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-out;
  color: transparent;
}

.stamina_bar.low {
  background-color: #ff9800;
}

.stamina_bar.critical {
  background-color: #f44336;
}
